* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$primary: #120f54;
$secondary: #2d0572;
$hover__color: #571ce0;
$btn__hover__color: #291b6b;
$head__color: #41cd7d;
$border__color: #8790ae;

body {
  font-family: "Nunito Sans", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}
li {
  list-style: none;
}

h4 {
  font-size: 32px;
  line-height: 41.6px;
  color: $head__color;
}
h1 {
  font-size: 76px;
  line-height: 98.8px;
  color: #fff;
}
h2 {
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  @media screen and (min-width: 768px) {
    font-size: 55px;
    line-height: 74.1px;
  }
}
h5 {
  font-size: 18px;
  line-height: 22px;
  margin-top: -4px;
  color: $head__color;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 31.2px;
    margin-top: -6px;
  }
}
p {
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
}

.btn__border {
  border: 1px solid #571ce0;
  border-radius: 35px;
  padding: 21px 6px;
}
.common__btn {
  padding: 15px 30px;
  font-weight: 600;
  text-align: center;
  background: $hover__color;
  color: #fff;
  transition: 0.3s;
  border-radius: 25px;
  border: 1px solid $hover__color;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 4px;
  &:hover {
    background-color: $btn__hover__color;
  }
}
.container {
  background-color: $primary;
  position: relative;
}

// product popup
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
.custom-social-proof {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999999999999 !important;
  font-family: "Open Sans", sans-serif;
  //display: none;  /* Uncoment This Line to Hide Initially*/
  .custom-notification {
    width: 220px;
    @media screen and (min-width: 768px) {
      width: 320px;
    }
    border: 0;
    text-align: left;
    z-index: 99999;
    box-sizing: border-box;
    font-weight: 400;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 2px hsla(0, 4%, 4%, 0.2);
    background-color: #fff;
    position: relative;
    cursor: pointer;
    .custom-notification-container {
      display: flex !important;
      align-items: center;
      height: 80px;
      .custom-notification-image-wrapper {
        img {
          max-height: 75px;
          max-width: 90px;
          overflow: hidden;
          border-radius: 6px 0 0 6px;
          object-fit: cover;
        }
      }
      .custom-notification-content-wrapper {
        margin: 0;
        height: 100%;
        color: gray;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0 6px 6px 0;
        flex: 1;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        .custom-notification-content {
          font-family: inherit !important;
          margin: 0 !important;
          padding: 0 !important;
          font-size: 14px;
          line-height: 16px;
          color: #5d5d5d;
          small {
            margin-top: 3px !important;
            display: block !important;
            font-size: 12px !important;
            opacity: 0.8;
          }
        }
      }
    }
    .custom-close {
      position: absolute;
      top: 8px;
      right: 8px;
      height: 12px;
      width: 12px;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      transform: rotate(45deg);
      opacity: 0;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: gray;
        position: absolute;
        left: 0;
        top: 5px;
      }
      &::after {
        content: "";
        display: block;
        height: 100%;
        width: 2px;
        background-color: gray;
        position: absolute;
        left: 5px;
        top: 0;
      }
    }
    &:hover {
      .custom-close {
        opacity: 1;
      }
    }
  }
}

// overlay
#container__overlay {
  position: absolute;
  height: 100%;
  display: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.505);
  z-index: 9999;
}
// pop up
.popup__section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.popup {
  background: url("./assets/popup_bg.jpg");
  position: fixed;
  max-width: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 20%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  display: none;
  text-align: center;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  .popup__container {
    backdrop-filter: blur(5px);
    padding: 30px 40px;
    background: #0000003e;
    .popup__input_field {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
      input {
        border: none;
        outline: none;
        padding: 15px 20px;
      }
    }
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.popup__btn {
  text-align: right;
  #close {
    background: transparent;
    color: #fff;
    font-size: 32px;
    border: none;
    outline: none;
    cursor: pointer;
    cursor: pointer;
  }
}
.popup p {
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
  a {
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
  }
}

// mobile header section
.mobile__header {
  background-color: #2d0572;
  position: relative;
  z-index: 9999;
  padding: 10px 20px;
  display: none;
  .mobile__logo {
    width: 50%;
    img {
      max-width: 130px;
    }
  }
  .mobile__menu {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
  }
  @media screen and (max-width: 768px) {
    display: block;
  }
  #open {
    font-size: 18px;
  }
  #mobile__menu__item {
    position: absolute;
    display: none;
    background: #2d0572;
    width: 100%;
    left: 0;
    padding: 20px;
    top: 65px;
  }
}
.mobile__menu__container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    a {
      padding: 0 10px;
      font-size: 18px;
      color: #fff;
      font-weight: 600;
      transition: 0.3s;
      &:hover {
        color: #fe8f9c;
      }
    }
    .dashboard__dropdown {
      &:hover {
        ul {
          visibility: visible;
          opacity: 1;
        }
      }
      ul {
        position: absolute;
        min-width: 180px;
        background: #120f54;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        border-radius: 10px;
        left: 121px;
        top: 75px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        visibility: hidden;
        opacity: 0;

        li {
          display: block;
          padding: 5px 15px;
          transition: 0.3s;
          a {
            color: #fff;
          }
          &:hover {
            background-color: $hover__color;
          }
        }
      }
    }
    .sports__dropdown {
      &:hover {
        ul {
          visibility: visible;
          opacity: 1;
        }
      }
      ul {
        position: absolute;
        min-width: 180px;
        background: #120f54;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        border-radius: 10px;
        left: 121px;
        top: 100px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        visibility: hidden;
        opacity: 0;

        li {
          display: block;
          padding: 5px 15px;
          transition: 0.3s;
          a {
            color: #fff;
          }
          &:hover {
            background-color: $hover__color;
          }
        }
      }
    }
  }
}
// header__section
.header__container {
  position: relative;
  z-index: 999;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  background-color: transparent;
  .nav__container {
    max-width: 1200px;
    @media screen and (max-width: 768px) {
      display: none;
    }
    padding: 30px 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav__logo {
      img {
        max-width: 245px;
      }
    }
    ul {
      display: flex;
      a {
        padding: 0 10px;
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        transition: 0.3s;
        &:hover {
          color: #fe8f9c;
        }
      }
      .dashboard__dropdown {
        &:hover {
          ul {
            visibility: visible;
            opacity: 1;
          }
        }
        ul {
          position: absolute;
          min-width: 180px;
          background: #120f54;
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
          transition: 0.3s;
          display: flex;
          flex-direction: column;
          padding: 10px 0;
          border-radius: 10px;
          top: 75px;
          border: 1px solid rgba(0, 0, 0, 0.25);
          visibility: hidden;
          opacity: 0;

          li {
            display: block;
            padding: 5px 15px;
            transition: 0.3s;
            a {
              color: #fff;
            }
            &:hover {
              background-color: $hover__color;
            }
          }
        }
      }
      .sports__dropdown {
        &:hover {
          ul {
            visibility: visible;
            opacity: 1;
          }
        }
        ul {
          position: absolute;
          min-width: 180px;
          background: #120f54;
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
          transition: 0.3s;
          display: flex;
          flex-direction: column;
          padding: 10px 0;
          border-radius: 10px;
          top: 75px;
          border: 1px solid rgba(0, 0, 0, 0.25);
          visibility: hidden;
          opacity: 0;

          li {
            display: block;
            padding: 5px 15px;
            transition: 0.3s;
            a {
              color: #fff;
            }
            &:hover {
              background-color: $hover__color;
            }
          }
        }
      }
    }
    .login__reg {
      display: flex;
      gap: 20px;
      .login__btn {
        background: transparent;
        color: #fff;
        outline: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
      }
      .signin__btn {
        padding: 15px 30px;
        font-weight: 600;
        text-align: center;
        background: $hover__color;
        color: #fff;
        transition: 0.3s;
        border-radius: 25px;
        border: 1px solid $hover__color;
        font-size: 18px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        gap: 4px;
        &:hover {
          background-color: $btn__hover__color;
        }
      }
    }
  }
}

// hero__section
.hero__section {
  background: #1f2340;
  position: relative;
  top: -145px;
  .hero__container {
    max-width: 1200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 300px 0;
    display: flex;
    gap: 30px;
    @media screen and (max-width: 768px) {
      padding: 200px 20px;
      .hero__container-left {
        width: 100%;
        gap: 15px;
        h4 {
          font-size: 18px;
          line-height: 22px;
        }
        h1 {
          font-size: 40px;
          line-height: 46px;
        }
        p {
          font-size: 16px;
          line-height: 22.4px;
        }
      }
      .for__animation {
        display: none;
      }
      .hero__container-right {
        display: none;
      }
    }
    .hero__container-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1;
      gap: 30px;
      @media screen and (min-width: 768px) {
        width: 50%;
      }
      p {
        line-height: 36px;
        margin-top: -7px;
        font-size: 24px;
        color: #fff;
      }
    }
    .hero__container-right {
      width: 50%;
      div {
        position: absolute;
        top: 18%;
        left: 39%;
        z-index: 0;
        height: 100%;
        img {
          max-width: 826px;
        }
      }
      img {
        width: 100%;
        position: relative;
        z-index: 1;
      }
    }
    .for__animation {
      .animation_coin-1 {
        left: 30%;
        position: absolute;
        top: 10%;
        animation: spin 30s linear infinite;
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(1turn);
        }
      }
      .animation_coin-2 {
        left: 0;
        position: absolute;
        top: 30%;
        animation: ripple2Ani 4s linear infinite;
      }
      @keyframes ripple2Ani {
        0% {
          transform: translate(0);
        }
        33% {
          transform: translate(-5px, -5px);
        }

        66% {
          transform: translate(5px, 5px);
        }
        100% {
          transform: translate(0);
        }
      }
      @keyframes rippleAni {
        0% {
          transform: translate(0);
        }
        33% {
          transform: translate(5px, -5px);
        }
        66% {
          transform: translate(-5px, 5px);
        }
        100% {
          transform: translate(0);
        }
      }
      .animation_coin-3 {
        left: 60%;
        bottom: 25%;
        position: absolute;
        animation: ripple2Ani 5s linear infinite;
      }
      .animation_coin-4 {
        left: 35%;
        bottom: 20%;
        position: absolute;
        animation: ripple2Ani 5s linear infinite;
      }
      .animation_coin-5 {
        left: 45%;
        bottom: 8%;
        position: absolute;
        animation: spin 30s linear infinite;
      }
      .animation_cup {
        left: 3%;
        bottom: 20%;
        position: absolute;
        animation: rippleAni 3s linear infinite;
      }
    }
  }
}
// counter__section

.counter__section {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  top: -203px;
  .counter__container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    padding: 40px 30px 30px;
    background: #0d102f;
    border-radius: 20px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
    .counter__item {
      .total {
        display: flex;
        flex-direction: row;
        gap: 0;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        @media screen and (min-width: 768px) {
          gap: 10px;
        }
      }
      img {
        width: 70px;
        @media screen and (min-width: 768px) {
          width: 89px;
        }
      }
      display: flex;
      align-items: center;
      gap: 30px;

      h4 {
        color: #fff;
        font-size: 30px;
        font-weight: 500;
        @media screen and (min-width: 768px) {
          font-size: 43px;
        }
      }
      span {
        color: $head__color;
        font-size: 15px;
        font-weight: 400;
        @media screen and (min-width: 768px) {
          font-size: 18px;
        }
      }
    }
  }
}
// about__section
.about__section {
  max-width: 1200px;
  margin: 0 auto;
  .about__container {
    display: flex;
    position: relative;
    gap: 20px;
    top: -100px;
    align-items: center;
    padding: 0 20px;
    @media screen and (min-width: 768px) {
      padding: 0px;
    }
    .about__container-left {
      display: none;
      width: 50%;
      @media screen and (min-width: 768px) {
        display: block;
      }
      direction: rtl;
      img {
        max-width: unset;
      }
    }
    .about__container-right {
      width: 100%;

      @media screen and (min-width: 768px) {
        width: 50%;
      }
      .about__container-right__card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px 0;
      }
      .about__single__card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        margin-bottom: 20px;
        padding: 40px 0 35px;
        border: 1px solid $border__color;
        border-radius: 20px;
        h5 {
          color: #fff;
        }
        img {
          max-width: 50%;
        }
      }
    }
  }
}

// how to work section

.how__to__work__section {
  background-image: url(./assets/how-works-bg.png);
  padding: 50px 0 50px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    padding: 120px 0 50px 0;
  }
  .how__to__work__container {
    max-width: 1200px;
    margin: 0 auto;

    div {
      text-align: center;
      width: 90%;
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        width: 60%;
      }
    }
  }
}

// select sports
.select__sports__section {
  max-width: 1300px;
  background-color: #291b6b;
  border-radius: 20px;
  margin: 0 auto;
  .select__sports__container {
    padding: 50px 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
    .select__sports__cotainer__left {
      gap: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 50%;
      }
      .select__sports__text {
        background-color: #38268f;
        align-items: center;
        gap: 20px;
        display: flex;
        cursor: pointer;
        width: 80%;
        padding: 5px 20px;
        border-radius: 5px;
        .how__works__img {
          img {
            width: 80px;
          }
        }
      }
      h5 {
        font-weight: 400;
        color: #fff;
        font-size: 18px;
        line-height: 30px;
      }
    }
    .select__sports__cotainer__right {
      background: #120f54;
      padding: 30px;
      text-align: center;
      border-radius: 20px;
      h4 {
        color: #fff;
        margin-bottom: 20px;
      }
      img {
        width: 100%;
      }
    }
  }
}
// feature section
.amazing__features__section {
  background-image: url(./assets/amazing-features-bg.png);
  margin: 50px 0;
  padding: 50px 0 150px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1700px;
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: 768px) {
    padding: 120px 0 200px 0;
  }
  .amazing__features__container {
    max-width: 1200px;
    margin: 0 auto;
    .amazing__features__text {
      text-align: center;
      width: 90%;
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        width: 50%;
      }
    }
    .features__circle {
      position: absolute;
      top: 0;
      img {
        max-width: 100%;
      }
    }
  }
}
// features__slider
.features__slider {
  max-width: 1200px;
  position: relative;
  top: -135px;
  margin: 0 auto;
  padding: 25px 20px;
  .slider__item {
    background: $primary;
    border: 1px solid $border__color;
    border-radius: 20px;
    margin: 0 10px;
    padding: 40px 0 34px;
    text-align: center;
    position: relative;
    h5 {
      font-size: 13px;
      @media screen and (min-width: 768px) {
        font-size: 18px !important;
      }
    }
    div {
      text-align: center;
      margin-bottom: 20px;
      img {
        width: 60%;
        margin: 0 auto;
      }
    }
  }
}
// owl carousel
.owl-theme .owl-nav {
  margin-top: 10px;
  display: flex !important;
  justify-content: space-between !important;
  -webkit-tap-highlight-color: transparent;
}
.owl-prev {
  outline: none;
  width: 60px;
  height: 40px;
  top: 35%;
  background: #291b6b !important;
  font-size: 25px !important;
  color: #fff !important;
  border-radius: 12px !important;
  position: absolute;
  left: -10px;
  &:hover {
    background: $hover__color !important;
  }
}
.owl-next {
  outline: none;
  width: 60px;
  height: 40px;
  top: 35%;
  background: #291b6b !important;
  font-size: 25px !important;
  color: #fff !important;
  border-radius: 12px !important;
  position: absolute;
  right: -10px;
  &:hover {
    background: $hover__color !important;
  }
}
.owl-dots {
  display: none;
}

// more features
.more__features {
  max-width: 1200px;
  margin: 0 auto;
  .more__features__container {
    display: flex;
    gap: 30px;
    padding: 0 20px;
    flex-direction: column-reverse;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      padding: 0;
    }
    .more__features__container-left {
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 50%;
      }
      div {
        img {
          width: 100%;
        }
        max-width: 100%;
      }
    }
    .more__features__container-right {
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 50%;
      }
      .more__features-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
          font-size: 23px;
          line-height: 28px;
          color: #fff;
          @media screen and (min-width: 768px) {
            font-size: 26px;
            line-height: 31px;
          }
        }
      }
      .more__features-list {
        padding: 50px 0;
      }
      .more__features__list-item {
        display: flex;
        margin-bottom: 30px;
        gap: 20px;
        .more__features__list-text {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        h5 {
          color: #fff;
        }
      }
    }
  }
}

// faq section
.faq__section {
  max-width: 1700px;
  margin: 0 auto;
  .faq__container {
    .faq__container-title {
      background: url(/assets/faqs-bg.png);
      padding: 50px 0 50px 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @media screen and (min-width: 768px) {
        padding: 120px 0 50px 0;
      }

      div {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        @media screen and (min-width: 768px) {
          width: 50%;
        }
      }
    }

    .faq-container {
      display: flex;
      max-width: 1366px;
      background: #291b6b;
      padding: 60px 0;
      border-radius: 20px;
      margin: 0 auto;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      .active:after {
        content: "\2796";
        transition: all 0.5s ease-in-out;
      }

      h1 {
        line-height: 24px;
      }
    }
    .faq__title {
      display: flex;
      padding: 50px 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .faq-page {
      padding: 20px 30px;
      position: relative;
      font-size: 18px;
      color: white;
      width: 90%;
      display: flex;
      gap: 10px;
      margin: 0 auto;
      cursor: pointer;
      box-shadow: none;
      border-radius: 10px;
      transition: all 0.5s ease-in-out;
      background-color: #3a2fa4;
      @media screen and (min-width: 768px) {
        width: 70%;
        font-size: 22px;
      }
    }
    .faq-body {
      margin: auto;
      transition: all 0.5s ease-in-out;
      width: 90%;
      @media screen and (min-width: 768px) {
        width: 70%;
      }

      p {
        font-size: 15px;
        line-height: 28px;
        font-weight: normal;
        font-style: normal;
        color: #fff;

        background-color: #3a2fa4;
        @media screen and (min-width: 768px) {
          font-size: 16px;
        }
      }
    }

    .faq-body {
      display: none;
      overflow: hidden;
      border-top: 1px solid #fff;
      border-radius: 0px 0px 10px 10px;
      padding: 20px;
      background-color: #3a2fa4;
    }
    .faq-page:after {
      content: "\02795";
      background-color: #261c7e;
      padding: 5px;
      font-size: 18px;
      border-radius: 5px;
      position: absolute;
      right: 20px;
      color: #fff;
      float: right;
      margin-left: 5px;
    }
  }
}
// affilliate section
.affilliate__section {
  max-width: 1200px;
  margin: 0 auto;
  .affilliate__container {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
    padding: 50px 20px 100px 20px;
    @media screen and (min-width: 768px) {
      padding: 0px;
      flex-direction: row;
      padding: 100px 0 300px 0;
      gap: 50px;
    }
    .affilliate__container-left {
      width: 100%;
      @media screen and (min-width: 768px) {
        display: block;
        width: 50%;
        direction: rtl;
        img {
          max-width: unset !important;
        }
      }

      .affilliate__container-img {
        text-align: center;
        img {
          max-width: 60%;
          margin: 0 auto;
        }
      }
    }
    .affilliate__container-right {
      width: 100%;
      .line__brake {
        display: none;
      }
      .affilliate__container-right__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        div {
          margin-top: 0px;
          @media screen and (min-width: 768px) {
            margin-top: 20px;
          }
        }
      }
      @media screen and (min-width: 768px) {
        width: 50%;
        .line__brake {
          display: block;
        }
      }
    }
  }
}
// newsletter section
.newsletter__section {
  .newsletter__container {
    max-width: 950px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -50px;
    left: 0%;
    right: 0%;
    border-radius: 20px;
    background-color: #443397;
    background-image: url(/assets/newsletter-bg.png);
    padding: 0px 30px;
    @media screen and (min-width: 768px) {
      padding: 0px 110px;
      top: -154px;
    }
    .newsletter {
      .text-center {
        text-align: center;
      }
      .newsletter__content {
        padding: 50px 0;
      }
      h5 {
        font-weight: 600;
        text-transform: none;
        transition: all 0.3s;
      }
      h3 {
        color: #fff;
        font-weight: 600;
        text-transform: none;
        transition: all 0.3s;
        font-size: 43px;
        line-height: 55.9px;
        margin-top: -10px;
      }
      .form-group {
        display: flex;
        background: #432f9f;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #b7a7ff !important;
        border-radius: 10px;
        padding: 10px !important;
        margin-top: 20px;
      }
      .form-group input {
        background-color: #432f9f;
        border: none;
        outline: none;
        border-radius: 30px;
        padding: 0 20px;
        color: white;
        height: min-content;
        width: 100%;
        font-size: 18px;
      }
      .form-group button {
        background: $hover__color;
        border-radius: 10px;
        min-width: 90px;
        min-height: 50px;
        outline: none;
        border: none;
      }
    }
  }
}

.footer__section {
  position: relative;
  max-width: 1700px;
  padding: 0 20px;
  margin: 0 auto;
  background: url(./assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 350px;
    @media screen and (min-width: 768px) {
      padding-top: 250px;
    }
    .footer__first__container {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #fff;
      align-items: center;
      padding-bottom: 10px;
      @media screen and (max-width: 450px) {
        flex-direction: column;
        padding-top: 50px;
      }
      .footer__logo {
        img {
          max-width: 145px;
        }
        @media screen and (min-width: 768px) {
          img {
            max-width: 245px;
          }
        }
      }
      img {
        width: 100%;
      }
      .footer__nav {
        ul {
          display: flex;
          li {
            border-right: 1px solid #fff;
          }
          li:nth-child(3) {
            border-right: none;
          }
          a {
            color: #fff;
            padding: 5px;
            font-size: 15px;
            @media screen and (min-width: 768px) {
              font-size: 18px;
              padding: 10px;
            }
            transition: 0.3s;
            &:hover {
              color: #fe8f9c;
            }
          }
        }
      }
    }
    .footer__last__container {
      display: flex;
      justify-content: space-between;
      padding: 20px 0px;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      @media screen and (min-width: 768px) {
        flex-direction: row;
      }
      .footer__link {
        display: flex;
      }
      .social-link {
        display: flex;
        a {
          width: 35px;
          height: 35px;
          border: 1px solid #5653a8;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 20px;
          color: #5ac4ff;
          transition: 0.3s;
          &:hover {
            background-color: #fe8f9c;
            color: #fff;
          }
        }
      }
    }
  }
}
