* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$primary: #120f54;
$secondary: #2d0572;
$hover__color: #571ce0;
$btn__hover__color: #291b6b;
$head__color: #41cd7d;
$border__color: #8790ae;

body {
  font-family: "Nunito Sans", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}
li {
  list-style: none;
}

h4 {
  font-size: 32px;
  line-height: 41.6px;
  color: $head__color;
}
h1 {
  font-size: 76px;
  line-height: 98.8px;
  color: #fff;
}
h2 {
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  @media screen and (min-width: 768px) {
    font-size: 55px;
    line-height: 74.1px;
  }
}
h5 {
  font-size: 18px;
  line-height: 22px;
  margin-top: -4px;
  color: $head__color;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 31.2px;
    margin-top: -6px;
  }
}
p {
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
}
.btn__border {
  border: 1px solid #571ce0;
  border-radius: 35px;
  padding: 21px 6px;
}
.common__btn {
  padding: 15px 30px;
  font-weight: 600;
  text-align: center;
  background: $hover__color;
  color: #fff;
  transition: 0.3s;
  border-radius: 25px;
  border: 1px solid $hover__color;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 4px;
  &:hover {
    background-color: $btn__hover__color;
  }
}
.container {
  background-color: $primary;
}

// header__section
.header__container {
  position: relative;
  z-index: 999;
  background-color: transparent;
  .nav__container {
    max-width: 1200px;
    @media screen and (max-width: 768px) {
      display: none;
    }
    padding: 30px 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      a {
        padding: 0 10px;
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        transition: 0.3s;
        &:hover {
          color: #fe8f9c;
        }
      }
      .dashboard__dropdown {
        &:hover {
          ul {
            visibility: visible;
            opacity: 1;
          }
        }
        ul {
          position: absolute;
          min-width: 180px;
          background: #120f54;
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
          transition: 0.3s;
          display: flex;
          flex-direction: column;
          padding: 10px 0;
          border-radius: 10px;
          top: 75px;
          border: 1px solid rgba(0, 0, 0, 0.25);
          visibility: hidden;
          opacity: 0;

          li {
            display: block;
            padding: 5px 15px;
            transition: 0.3s;
            a {
              color: #fff;
            }
            &:hover {
              background-color: $hover__color;
            }
          }
        }
      }
      .sports__dropdown {
        &:hover {
          ul {
            visibility: visible;
            opacity: 1;
          }
        }
        ul {
          position: absolute;
          min-width: 180px;
          background: #120f54;
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
          transition: 0.3s;
          display: flex;
          flex-direction: column;
          padding: 10px 0;
          border-radius: 10px;
          top: 75px;
          border: 1px solid rgba(0, 0, 0, 0.25);
          visibility: hidden;
          opacity: 0;

          li {
            display: block;
            padding: 5px 15px;
            transition: 0.3s;
            a {
              color: #fff;
            }
            &:hover {
              background-color: $hover__color;
            }
          }
        }
      }
    }
    .login__reg {
      display: flex;
      gap: 20px;
      .login__btn {
        background: transparent;
        color: #fff;
        outline: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
      }
      .signin__btn {
        padding: 15px 30px;
        font-weight: 600;
        text-align: center;
        background: $hover__color;
        color: #fff;
        transition: 0.3s;
        border-radius: 25px;
        border: 1px solid $hover__color;
        font-size: 18px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        gap: 4px;
        &:hover {
          background-color: $btn__hover__color;
        }
      }
    }
  }
}

// hero__section
.hero__section {
  background: #1f2340;
  position: relative;
  top: -120px;
  .hero__container {
    max-width: 1200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 300px 0;
    display: flex;
    gap: 30px;
    @media screen and (max-width: 768px) {
      padding: 200px 20px;
      .hero__container-left {
        width: 100%;
        gap: 15px;
        h4 {
          font-size: 18px;
          line-height: 22px;
        }
        h1 {
          font-size: 40px;
          line-height: 46px;
        }
        p {
          font-size: 16px;
          line-height: 22.4px;
        }
      }
      .for__animation {
        display: none;
      }
      .hero__container-right {
        display: none;
      }
    }
    .hero__container-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1;
      gap: 30px;
      @media screen and (min-width: 768px) {
        width: 50%;
      }
      p {
        line-height: 36px;
        margin-top: -7px;
        font-size: 24px;
        color: #fff;
      }
    }
    .hero__container-right {
      width: 50%;
      div {
        position: absolute;
        top: 21%;
        left: 29%;
        z-index: 0;
        height: 100%;
        img {
          max-width: 826px;
        }
      }
      img {
        width: 100%;
        position: relative;
        z-index: 1;
      }
    }
    .for__animation {
      .animation_coin-1 {
        left: 30%;
        position: absolute;
        top: 10%;
        animation: spin 30s linear infinite;
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(1turn);
        }
      }
      .animation_coin-2 {
        left: 0;
        position: absolute;
        top: 30%;
        animation: ripple2Ani 4s linear infinite;
      }
      @keyframes ripple2Ani {
        0% {
          transform: translate(0);
        }
        33% {
          transform: translate(-5px, -5px);
        }

        66% {
          transform: translate(5px, 5px);
        }
        100% {
          transform: translate(0);
        }
      }
      @keyframes rippleAni {
        0% {
          transform: translate(0);
        }
        33% {
          transform: translate(5px, -5px);
        }
        66% {
          transform: translate(-5px, 5px);
        }
        100% {
          transform: translate(0);
        }
      }
      .animation_coin-3 {
        left: 60%;
        bottom: 25%;
        position: absolute;
        animation: ripple2Ani 5s linear infinite;
      }
      .animation_coin-4 {
        left: 35%;
        bottom: 20%;
        position: absolute;
        animation: ripple2Ani 5s linear infinite;
      }
      .animation_coin-5 {
        left: 45%;
        bottom: 8%;
        position: absolute;
        animation: spin 30s linear infinite;
      }
      .animation_cup {
        left: 3%;
        bottom: 20%;
        position: absolute;
        animation: rippleAni 3s linear infinite;
      }
    }
  }
}
// counter__section

.counter__section {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  top: -203px;
  .counter__container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    padding: 40px 30px 30px;
    background: #0d102f;
    border-radius: 20px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
    .counter__item {
      div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        @media screen and (min-width: 768px) {
          gap: 10px;
        }
      }
      img {
        width: 70px;
        @media screen and (min-width: 768px) {
          width: 89px;
        }
      }
      display: flex;
      align-items: center;
      gap: 30px;

      h4 {
        color: #fff;
        font-size: 30px;
        font-weight: 500;
        @media screen and (min-width: 768px) {
          font-size: 43px;
        }
      }
      span {
        color: $head__color;
        font-size: 15px;
        font-weight: 400;
        @media screen and (min-width: 768px) {
          font-size: 18px;
        }
      }
    }
  }
}
// about__section
.about__section {
  max-width: 1200px;
  margin: 0 auto;
  .about__container {
    display: flex;
    position: relative;
    gap: 20px;
    top: -100px;
    padding: 0 20px;
    @media screen and (min-width: 768px) {
      padding: 0px;
    }
    .about__container-left {
      display: none;
      width: 50%;
      @media screen and (min-width: 768px) {
        display: block;
      }
      direction: rtl;
      img {
        max-width: unset;
      }
    }
    .about__container-right {
      width: 100%;

      @media screen and (min-width: 768px) {
        width: 50%;
      }
      .about__container-right__card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px 0;
      }
      .about__single__card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        margin-bottom: 20px;
        padding: 40px 0 35px;
        border: 1px solid $border__color;
        border-radius: 20px;
        h5 {
          color: #fff;
        }
        img {
          max-width: 50%;
        }
      }
    }
  }
}

// how to work section

.how__to__work__section {
  background-image: url(./assets/how-works-bg.png);
  padding: 50px 0 50px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    padding: 120px 0 50px 0;
  }
  .how__to__work__container {
    max-width: 1200px;
    margin: 0 auto;

    div {
      text-align: center;
      width: 90%;
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        width: 60%;
      }
    }
  }
}
// feature section
.amazing__features__section {
  background-image: url(./assets/amazing-features-bg.png);
  margin: 50px 0;
  padding: 50px 0 150px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1700px;
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: 768px) {
    padding: 120px 0 200px 0;
  }
  .amazing__features__container {
    max-width: 1200px;
    margin: 0 auto;
    .amazing__features__text {
      text-align: center;
      width: 90%;
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        width: 50%;
      }
    }
    .features__circle {
      position: absolute;
      top: 0;
      img {
        max-width: 100%;
      }
    }
  }
}
.features__slider {
  max-width: 1200px;
  position: relative;
  top: -135px;
  margin: 0 auto;
  .slider__item {
    background: $primary;
    border: 1px solid $border__color;
    border-radius: 20px;
    margin: 0 10px;
    padding: 40px 0 34px;
    text-align: center;
    div {
      text-align: center;
      margin-bottom: 20px;
      img {
        width: 60%;
        margin: 0 auto;
      }
    }
    .owl-nav {
      margin-top: 10px;
      display: flex !important;
      justify-content: space-between !important;
      -webkit-tap-highlight-color: transparent;
      position: relative;
      top: -181px !important;
    }
  }
}
