@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

h4 {
  font-size: 32px;
  line-height: 41.6px;
  color: #41cd7d;
}

h1 {
  font-size: 76px;
  line-height: 98.8px;
  color: #fff;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 55px;
    line-height: 74.1px;
  }
}

h5 {
  font-size: 18px;
  line-height: 22px;
  margin-top: -4px;
  color: #41cd7d;
}
@media screen and (min-width: 768px) {
  h5 {
    font-size: 24px;
    line-height: 31.2px;
    margin-top: -6px;
  }
}

p {
  font-size: 15px;
  line-height: 19px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
}

.btn__border {
  border: 1px solid #571ce0;
  border-radius: 35px;
  padding: 21px 6px;
}

.common__btn {
  padding: 15px 30px;
  font-weight: 600;
  text-align: center;
  background: #571ce0;
  color: #fff;
  transition: 0.3s;
  border-radius: 25px;
  border: 1px solid #571ce0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.common__btn:hover {
  background-color: #291b6b;
}

.container {
  background-color: #120f54;
}

.mobile__header {
  background-color: #2d0572;
  position: relative;
  z-index: 9999;
  padding: 20px;
  display: none;
}
@media screen and (max-width: 768px) {
  .mobile__header {
    display: block;
  }
}
.mobile__header #open {
  font-size: 18px;
}
.mobile__header #mobile__menu__item {
  position: absolute;
  display: none;
  background: #2d0572;
  width: 100%;
  left: 0;
  padding: 20px;
  top: 80px;
}

.mobile__menu__container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.mobile__menu__container ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobile__menu__container ul a {
  padding: 0 10px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}
.mobile__menu__container ul a:hover {
  color: #fe8f9c;
}
.mobile__menu__container ul .dashboard__dropdown:hover ul {
  visibility: visible;
  opacity: 1;
}
.mobile__menu__container ul .dashboard__dropdown ul {
  position: absolute;
  min-width: 180px;
  background: #120f54;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-radius: 10px;
  left: 121px;
  top: 75px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  visibility: hidden;
  opacity: 0;
}
.mobile__menu__container ul .dashboard__dropdown ul li {
  display: block;
  padding: 5px 15px;
  transition: 0.3s;
}
.mobile__menu__container ul .dashboard__dropdown ul li a {
  color: #fff;
}
.mobile__menu__container ul .dashboard__dropdown ul li:hover {
  background-color: #571ce0;
}
.mobile__menu__container ul .sports__dropdown:hover ul {
  visibility: visible;
  opacity: 1;
}
.mobile__menu__container ul .sports__dropdown ul {
  position: absolute;
  min-width: 180px;
  background: #120f54;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-radius: 10px;
  left: 121px;
  top: 100px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  visibility: hidden;
  opacity: 0;
}
.mobile__menu__container ul .sports__dropdown ul li {
  display: block;
  padding: 5px 15px;
  transition: 0.3s;
}
.mobile__menu__container ul .sports__dropdown ul li a {
  color: #fff;
}
.mobile__menu__container ul .sports__dropdown ul li:hover {
  background-color: #571ce0;
}

.header__container {
  position: relative;
  z-index: 999;
  display: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: block;
  }
}
.header__container .nav__container {
  max-width: 1200px;
  padding: 30px 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__container .nav__container {
    display: none;
  }
}
.header__container .nav__container ul {
  display: flex;
}
.header__container .nav__container ul a {
  padding: 0 10px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}
.header__container .nav__container ul a:hover {
  color: #fe8f9c;
}
.header__container .nav__container ul .dashboard__dropdown:hover ul {
  visibility: visible;
  opacity: 1;
}
.header__container .nav__container ul .dashboard__dropdown ul {
  position: absolute;
  min-width: 180px;
  background: #120f54;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-radius: 10px;
  top: 75px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  visibility: hidden;
  opacity: 0;
}
.header__container .nav__container ul .dashboard__dropdown ul li {
  display: block;
  padding: 5px 15px;
  transition: 0.3s;
}
.header__container .nav__container ul .dashboard__dropdown ul li a {
  color: #fff;
}
.header__container .nav__container ul .dashboard__dropdown ul li:hover {
  background-color: #571ce0;
}
.header__container .nav__container ul .sports__dropdown:hover ul {
  visibility: visible;
  opacity: 1;
}
.header__container .nav__container ul .sports__dropdown ul {
  position: absolute;
  min-width: 180px;
  background: #120f54;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-radius: 10px;
  top: 75px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  visibility: hidden;
  opacity: 0;
}
.header__container .nav__container ul .sports__dropdown ul li {
  display: block;
  padding: 5px 15px;
  transition: 0.3s;
}
.header__container .nav__container ul .sports__dropdown ul li a {
  color: #fff;
}
.header__container .nav__container ul .sports__dropdown ul li:hover {
  background-color: #571ce0;
}
.header__container .nav__container .login__reg {
  display: flex;
  gap: 20px;
}
.header__container .nav__container .login__reg .login__btn {
  background: transparent;
  color: #fff;
  outline: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.header__container .nav__container .login__reg .signin__btn {
  padding: 15px 30px;
  font-weight: 600;
  text-align: center;
  background: #571ce0;
  color: #fff;
  transition: 0.3s;
  border-radius: 25px;
  border: 1px solid #571ce0;
  font-size: 18px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.header__container .nav__container .login__reg .signin__btn:hover {
  background-color: #291b6b;
}

.hero__section {
  background: #1f2340;
  position: relative;
  top: -120px;
}
.hero__section .hero__container {
  max-width: 1200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 300px 0;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .hero__section .hero__container {
    padding: 200px 20px;
  }
  .hero__section .hero__container .hero__container-left {
    width: 100%;
    gap: 15px;
  }
  .hero__section .hero__container .hero__container-left h4 {
    font-size: 18px;
    line-height: 22px;
  }
  .hero__section .hero__container .hero__container-left h1 {
    font-size: 40px;
    line-height: 46px;
  }
  .hero__section .hero__container .hero__container-left p {
    font-size: 16px;
    line-height: 22.4px;
  }
  .hero__section .hero__container .for__animation {
    display: none;
  }
  .hero__section .hero__container .hero__container-right {
    display: none;
  }
}
.hero__section .hero__container .hero__container-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .hero__section .hero__container .hero__container-left {
    width: 50%;
  }
}
.hero__section .hero__container .hero__container-left p {
  line-height: 36px;
  margin-top: -7px;
  font-size: 24px;
  color: #fff;
}
.hero__section .hero__container .hero__container-right {
  width: 50%;
}
.hero__section .hero__container .hero__container-right div {
  position: absolute;
  top: 21%;
  left: 29%;
  z-index: 0;
  height: 100%;
}
.hero__section .hero__container .hero__container-right div img {
  max-width: 826px;
}
.hero__section .hero__container .hero__container-right img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.hero__section .hero__container .for__animation .animation_coin-1 {
  left: 30%;
  position: absolute;
  top: 10%;
  animation: spin 30s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
.hero__section .hero__container .for__animation .animation_coin-2 {
  left: 0;
  position: absolute;
  top: 30%;
  animation: ripple2Ani 4s linear infinite;
}
@keyframes ripple2Ani {
  0% {
    transform: translate(0);
  }
  33% {
    transform: translate(-5px, -5px);
  }
  66% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes rippleAni {
  0% {
    transform: translate(0);
  }
  33% {
    transform: translate(5px, -5px);
  }
  66% {
    transform: translate(-5px, 5px);
  }
  100% {
    transform: translate(0);
  }
}
.hero__section .hero__container .for__animation .animation_coin-3 {
  left: 60%;
  bottom: 25%;
  position: absolute;
  animation: ripple2Ani 5s linear infinite;
}
.hero__section .hero__container .for__animation .animation_coin-4 {
  left: 35%;
  bottom: 20%;
  position: absolute;
  animation: ripple2Ani 5s linear infinite;
}
.hero__section .hero__container .for__animation .animation_coin-5 {
  left: 45%;
  bottom: 8%;
  position: absolute;
  animation: spin 30s linear infinite;
}
.hero__section .hero__container .for__animation .animation_cup {
  left: 3%;
  bottom: 20%;
  position: absolute;
  animation: rippleAni 3s linear infinite;
}

.counter__section {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  top: -203px;
}
.counter__section .counter__container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  padding: 40px 30px 30px;
  background: #0d102f;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .counter__section .counter__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}
.counter__section .counter__container .counter__item {
  display: flex;
  align-items: center;
  gap: 30px;
}
.counter__section .counter__container .counter__item div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media screen and (min-width: 768px) {
  .counter__section .counter__container .counter__item div {
    gap: 10px;
  }
}
.counter__section .counter__container .counter__item img {
  width: 70px;
}
@media screen and (min-width: 768px) {
  .counter__section .counter__container .counter__item img {
    width: 89px;
  }
}
.counter__section .counter__container .counter__item h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .counter__section .counter__container .counter__item h4 {
    font-size: 43px;
  }
}
.counter__section .counter__container .counter__item span {
  color: #41cd7d;
  font-size: 15px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .counter__section .counter__container .counter__item span {
    font-size: 18px;
  }
}

.about__section {
  max-width: 1200px;
  margin: 0 auto;
}
.about__section .about__container {
  display: flex;
  position: relative;
  gap: 20px;
  top: -100px;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .about__section .about__container {
    padding: 0px;
  }
}
.about__section .about__container .about__container-left {
  display: none;
  width: 50%;
  direction: rtl;
}
@media screen and (min-width: 768px) {
  .about__section .about__container .about__container-left {
    display: block;
  }
}
.about__section .about__container .about__container-left img {
  max-width: unset;
}
.about__section .about__container .about__container-right {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__section .about__container .about__container-right {
    width: 50%;
  }
}
.about__section .about__container .about__container-right .about__container-right__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px 0;
}
.about__section .about__container .about__container-right .about__single__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin-bottom: 20px;
  padding: 40px 0 35px;
  border: 1px solid #8790ae;
  border-radius: 20px;
}
.about__section .about__container .about__container-right .about__single__card h5 {
  color: #fff;
}
.about__section .about__container .about__container-right .about__single__card img {
  max-width: 50%;
}

.how__to__work__section {
  background-image: url(./assets/how-works-bg.png);
  padding: 50px 0 50px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .how__to__work__section {
    padding: 120px 0 50px 0;
  }
}
.how__to__work__section .how__to__work__container {
  max-width: 1200px;
  margin: 0 auto;
}
.how__to__work__section .how__to__work__container div {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .how__to__work__section .how__to__work__container div {
    width: 60%;
  }
}

.amazing__features__section {
  background-image: url(./assets/amazing-features-bg.png);
  margin: 50px 0;
  padding: 50px 0 150px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1700px;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 768px) {
  .amazing__features__section {
    padding: 120px 0 200px 0;
  }
}
.amazing__features__section .amazing__features__container {
  max-width: 1200px;
  margin: 0 auto;
}
.amazing__features__section .amazing__features__container .amazing__features__text {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .amazing__features__section .amazing__features__container .amazing__features__text {
    width: 50%;
  }
}
.amazing__features__section .amazing__features__container .features__circle {
  position: absolute;
  top: 0;
}
.amazing__features__section .amazing__features__container .features__circle img {
  max-width: 100%;
}

.features__slider {
  max-width: 1200px;
  position: relative;
  top: -135px;
  margin: 0 auto;
  padding: 0 20px;
}
.features__slider .slider__item {
  background: #120f54;
  border: 1px solid #8790ae;
  border-radius: 20px;
  margin: 0 10px;
  padding: 40px 0 34px;
  text-align: center;
  position: relative;
}
.features__slider .slider__item div {
  text-align: center;
  margin-bottom: 20px;
}
.features__slider .slider__item div img {
  width: 60%;
  margin: 0 auto;
}

.owl-theme .owl-nav {
  margin-top: 10px;
  display: flex !important;
  justify-content: space-between !important;
  -webkit-tap-highlight-color: transparent;
}

.owl-prev {
  outline: none;
  width: 60px;
  height: 40px;
  top: 35%;
  background: #291b6b !important;
  font-size: 25px !important;
  color: #fff !important;
  border-radius: 12px !important;
  position: absolute;
  left: -10px;
}
.owl-prev:hover {
  background: #571ce0 !important;
}

.owl-next {
  outline: none;
  width: 60px;
  height: 40px;
  top: 35%;
  background: #291b6b !important;
  font-size: 25px !important;
  color: #fff !important;
  border-radius: 12px !important;
  position: absolute;
  right: -10px;
}
.owl-next:hover {
  background: #571ce0 !important;
}

.owl-dots {
  display: none;
}

.more__features {
  max-width: 1200px;
  margin: 0 auto;
}
.more__features .more__features__container {
  display: flex;
  gap: 30px;
  padding: 0 20px;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .more__features .more__features__container {
    flex-direction: row;
    padding: 0;
  }
}
.more__features .more__features__container .more__features__container-left {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .more__features .more__features__container .more__features__container-left {
    width: 50%;
  }
}
.more__features .more__features__container .more__features__container-left div {
  max-width: 100%;
}
.more__features .more__features__container .more__features__container-left div img {
  width: 100%;
}
.more__features .more__features__container .more__features__container-right {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .more__features .more__features__container .more__features__container-right {
    width: 50%;
  }
}
.more__features .more__features__container .more__features__container-right .more__features-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.more__features .more__features__container .more__features__container-right .more__features-list {
  padding: 50px 0;
}
.more__features .more__features__container .more__features__container-right .more__features__list-item {
  display: flex;
  margin-bottom: 30px;
  gap: 20px;
}
.more__features .more__features__container .more__features__container-right .more__features__list-item .more__features__list-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.more__features .more__features__container .more__features__container-right .more__features__list-item h5 {
  color: #fff;
}

.faq__section {
  max-width: 1700px;
  margin: 0 auto;
}
.faq__section .faq__container .faq__container-title {
  background: url(/assets/faqs-bg.png);
  padding: 50px 0 50px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .faq__section .faq__container .faq__container-title {
    padding: 120px 0 50px 0;
  }
}
.faq__section .faq__container .faq__container-title div {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .faq__section .faq__container .faq__container-title div {
    width: 50%;
  }
}
.faq__section .faq__container .faq-container {
  display: flex;
  max-width: 1366px;
  background: #291b6b;
  padding: 60px 0;
  border-radius: 20px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.faq__section .faq__container .faq-container .active:after {
  content: "➖";
  transition: all 0.5s ease-in-out;
}
.faq__section .faq__container .faq-container h1 {
  line-height: 24px;
}
.faq__section .faq__container .faq__title {
  display: flex;
  padding: 50px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq__section .faq__container .faq-page {
  padding: 20px 30px;
  position: relative;
  font-size: 18px;
  color: white;
  width: 90%;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: none;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  background-color: #3a2fa4;
}
@media screen and (min-width: 768px) {
  .faq__section .faq__container .faq-page {
    width: 70%;
    font-size: 22px;
  }
}
.faq__section .faq__container .faq-body {
  margin: auto;
  transition: all 0.5s ease-in-out;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .faq__section .faq__container .faq-body {
    width: 70%;
  }
}
.faq__section .faq__container .faq-body p {
  font-size: 15px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  background-color: #3a2fa4;
}
@media screen and (min-width: 768px) {
  .faq__section .faq__container .faq-body p {
    font-size: 16px;
  }
}
.faq__section .faq__container .faq-body {
  display: none;
  overflow: hidden;
  border-top: 1px solid #fff;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
  background-color: #3a2fa4;
}
.faq__section .faq__container .faq-page:after {
  content: "➕";
  background-color: #261c7e;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  color: #fff;
  float: right;
  margin-left: 5px;
}

.affilliate__section {
  max-width: 1200px;
  margin: 0 auto;
}
.affilliate__section .affilliate__container {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  gap: 30px;
  align-items: center;
  padding: 50px 20px 100px 20px;
}
@media screen and (min-width: 768px) {
  .affilliate__section .affilliate__container {
    padding: 0px;
    flex-direction: row;
    padding: 100px 0 300px 0;
    gap: 50px;
  }
}
.affilliate__section .affilliate__container .affilliate__container-left {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .affilliate__section .affilliate__container .affilliate__container-left {
    display: block;
    width: 50%;
    direction: rtl;
  }
  .affilliate__section .affilliate__container .affilliate__container-left img {
    max-width: unset !important;
  }
}
.affilliate__section .affilliate__container .affilliate__container-left .affilliate__container-img {
  text-align: center;
}
.affilliate__section .affilliate__container .affilliate__container-left .affilliate__container-img img {
  max-width: 60%;
  margin: 0 auto;
}
.affilliate__section .affilliate__container .affilliate__container-right {
  width: 100%;
}
.affilliate__section .affilliate__container .affilliate__container-right .line__brake {
  display: none;
}
.affilliate__section .affilliate__container .affilliate__container-right .affilliate__container-right__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.affilliate__section .affilliate__container .affilliate__container-right .affilliate__container-right__text div {
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .affilliate__section .affilliate__container .affilliate__container-right .affilliate__container-right__text div {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .affilliate__section .affilliate__container .affilliate__container-right {
    width: 50%;
  }
  .affilliate__section .affilliate__container .affilliate__container-right .line__brake {
    display: block;
  }
}

.newsletter__section .newsletter__container {
  max-width: 950px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -50px;
  left: 0%;
  right: 0%;
  border-radius: 20px;
  background-color: #443397;
  background-image: url(/assets/newsletter-bg.png);
  padding: 0px 30px;
}
@media screen and (min-width: 768px) {
  .newsletter__section .newsletter__container {
    padding: 0px 110px;
    top: -154px;
  }
}
.newsletter__section .newsletter__container .newsletter .text-center {
  text-align: center;
}
.newsletter__section .newsletter__container .newsletter .newsletter__content {
  padding: 50px 0;
}
.newsletter__section .newsletter__container .newsletter h5 {
  font-weight: 600;
  text-transform: none;
  transition: all 0.3s;
}
.newsletter__section .newsletter__container .newsletter h3 {
  color: #fff;
  font-weight: 600;
  text-transform: none;
  transition: all 0.3s;
  font-size: 43px;
  line-height: 55.9px;
  margin-top: -10px;
}
.newsletter__section .newsletter__container .newsletter .form-group {
  display: flex;
  background: #432f9f;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #b7a7ff !important;
  border-radius: 10px;
  padding: 10px !important;
  margin-top: 20px;
}
.newsletter__section .newsletter__container .newsletter .form-group input {
  background-color: #432f9f;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 0 20px;
  color: white;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  font-size: 18px;
}
.newsletter__section .newsletter__container .newsletter .form-group button {
  background: #571ce0;
  border-radius: 10px;
  min-width: 90px;
  min-height: 50px;
  outline: none;
  border: none;
}

.footer__section {
  position: relative;
  max-width: 1700px;
  padding: 0 20px;
  margin: 0 auto;
  background: url(./assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer__section .footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 250px;
}
.footer__section .footer__container .footer__first__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.footer__section .footer__container .footer__first__container .footer__nav ul {
  display: flex;
}
.footer__section .footer__container .footer__first__container .footer__nav ul li {
  border-right: 1px solid #fff;
}
.footer__section .footer__container .footer__first__container .footer__nav ul li:nth-child(3) {
  border-right: none;
}
.footer__section .footer__container .footer__first__container .footer__nav ul a {
  color: #fff;
  padding: 10px;
  transition: 0.3s;
}
.footer__section .footer__container .footer__first__container .footer__nav ul a:hover {
  color: #fe8f9c;
}
.footer__section .footer__container .footer__last__container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer__section .footer__container .footer__last__container {
    flex-direction: row;
  }
}
.footer__section .footer__container .footer__last__container .footer__link {
  display: flex;
}
.footer__section .footer__container .footer__last__container .social-link {
  display: flex;
}
.footer__section .footer__container .footer__last__container .social-link a {
  width: 35px;
  height: 35px;
  border: 1px solid #5653a8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  color: #5ac4ff;
  transition: 0.3s;
}
.footer__section .footer__container .footer__last__container .social-link a:hover {
  background-color: #fe8f9c;
  color: #fff;
}/*# sourceMappingURL=style.css.map */